/* Webfont: DivineRhapsody-Regular */@font-face {
    font-family: 'Divine_Rhapsody';
    src: url('Samantha.eot'); /* IE9 Compat Modes */
    src: url('Samantha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Samantha.woff') format('woff'), /* Modern Browsers */
         url('Samantha.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

