button {
  @include button-reset;
}

form button, .button {
  line-height: 1;
  padding: 0.75em 1.5em;
  background-color: $clickable;
  color: white;
  border-radius: 12px;
  border: 4px solid $clickable;
  font-family: $sans;
  font-weight: 600;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
}

button.button {

}
a.button {
  text-decoration: none;
}